.Burger {
    width:40%;
    margin:0 auto;
    height: 45%;
    overflow: auto;
    text-align: center;
    font-weight: bold;
    font-size:1.2rem;
}

.Burger > * {
    margin: 1% auto;
}

@media (min-width:800px) and (min-height:800px) {
    .Burger {
        width:30%;
        height: 55%;
    }
}

@media (max-width:500px) {
    .Burger {
        height: 50%;
        width: 50%;
        margin-top:24px;
    }
}
