.Control {
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 5px 10px;
}


@media (max-width:500px) {
    .Control {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 5px 5px;
    }
}

@media (min-width:800px) {
    .Control {
        justify-content: center;
    }
}
