.Burger {
    width:40%;
    margin:auto;
    height: 55%;
    overflow: auto;
    text-align: center;
    font-weight: bold;
    font-size:1.2rem;
}

.Burger > * {
    margin: 1% auto;
}

@media (min-width:800px) and (min-height:990px) {
    .Burger {
        height: 75%;
    }
}

@media (max-width:500px) {
    .Burger {
        height: 55%;
        width: 60%;
    }
}
