.Burger {
    width:70%;
    margin:auto;
    height: 250px;
    overflow: auto;
    text-align: center;
    font-weight: bold;
    font-size:1.2rem;
}

.Burger > * {
    margin: 1% auto;
}

@media (min-width:250px) and (min-height:300px) {
    .Burger {
        width: 250px;
        height: 300px;
    }
}


@media (min-width:500px) and (min-height:401px) {
    .Burger {
        width: 450px;
        height: 400px;
    }
}

@media (min-width:1000px) and (min-height:700px) {
    .Burger {
        width: 700px;
        height: 600px;
    }
}
