.Control {
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}


@media (max-width:400px) {
    .Control {
        flex-direction: column;
        align-items: start;
        justify-content: start;
        flex-wrap: wrap;
        margin: 5px 5px;
    }
}
