.List {
    counter-reset: gradient-counter;
    list-style: none;

}
.ListItem{
    background: rgba(97, 120, 234, 0.14);
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    counter-increment: gradient-counter;
    margin: 1rem;
    width:160px;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.09);
    display: inline-block;

}

.ListItem::before, .ListItem::after {
    background: linear-gradient(135deg, #ece964 0%, #ed5b56 100%);
    border-radius: 1rem 1rem 0 1rem;
    content: '';
    height: 3rem;
    left: -1rem;
    overflow: hidden;
    position: absolute;
    top: -1rem;
    width: 3rem;
}

.ListItem::before {
    align-items: flex-end;
    content: counter(gradient-counter);
    color: #1d1f20;
    display: flex;
    font: 900 1.5em/1 'Montserrat';
    justify-content: flex-end;
    padding: 0.125em 0.25em;
    z-index: 1;
}

.Key {
    color: rgba(206, 83, 83, 0.96);
    font-weight: bolder;
    text-transform: capitalize;
    letter-spacing:0.7px;
}
.Key > div {
    display: inline-block;
    font-size:16px;
    padding:0;
    width:60%;
}

.Header {
    text-align: center;
    color: #ffffff;
}

.ContinueBtn {
    background: transparent;
    color: rgb(255, 255, 255);
    display: inline-block;
    border:1px solid #cccccc;
    border-radius:22px;
    padding:10px;
    cursor:pointer;
    outline:none;
    transition:all 0.5s ease-out;
    transform:rotate(0deg);
}

.ContinueBtn:hover {
    background: rgba(165, 180, 241, 0.14);
    transform:rotate(10deg);
}
.ContinueBtn:focus {
    transform:rotate(0deg);
}
